In [1]:
print("a")

a

In [2]:
print(1)

1

In [ ]:
#when we type any letter we have to put it in quotes.

#when we have to print number then there is no need of quote.

In [7]:
a= 21
b= 23
a+b

44

In [10]:
a*b,b-a

(483, 2)

In [11]:
21+22

43

In [12]:
name=["mohit","chandrakant","atram"]
name

['mohit', 'chandrakant', 'atram']

In [16]:
name[0],name[1],name[2]

('mohit', 'chandrakant', 'atram')

In [17]:
name=["mohit","chandrakant","atram"]
name

['mohit', 'chandrakant', 'atram']

In [23]:
name=["mohit","chandrakant","atram"]
name[1].title(),name[2].upper(),name[0].lower()

('Chandrakant', 'ATRAM', 'mohit')

In [24]:
name_01=['ram,sham,sam,dham,kaam']
name_01

['ram,sham,sam,dham,kaam']

In [25]:
name_01[0]

'ram,sham,sam,dham,kaam'

In [27]:
name_01='[ram,sham,sam,dham,kaam]'
name_01

'[ram,sham,sam,dham,kaam]'

In [32]:
name_01[3]

'm'

In [38]:
n='(m,o,h,i,t)'
n

'(m,o,h,i,t)'

In [39]:
n[0]

'('

In [47]:
m=["mohit", "atram"]
m

['mohit', 'atram']

In [49]:
m[0],m[1]

('mohit', 'atram')

In [50]:
n[0],m[0],n[5]

('(', 'mohit', 'h')

In [65]:
#adding a new element.

#it will add the element at thhe last position.

name_01=['ram','sham','sam','dham','kaam']
name_01

['ram', 'sham', 'sam', 'dham', 'kaam']

In [66]:
name_01.append('mohit')
name_01

['ram', 'sham', 'sam', 'dham', 'kaam', 'mohit']

In [71]:
#and to add the element at our choice of position..

namee=['mango','orange','apple','banana']
namee

['mango', 'orange', 'apple', 'banana']

In [72]:
namee.insert(0,'guava')
namee

['guava', 'mango', 'orange', 'apple', 'banana']

In [80]:
namee=['mango','orange','apple','banana']
namee.insert(2,'kivi')
namee

['mango', 'orange', 'kivi', 'apple', 'banana']

In [81]:
namee[2]

'kivi'

In [88]:
namee.insert(21,'pineapple'.upper())
namee

['mango', 'orange', 'kivi', 'apple', 'banana', 'pineapple', 'PINEAPPLE']

In [90]:
namee[6]

'PINEAPPLE'

In [91]:
k=['c','h','a','r','l','i','e']
k

['c', 'h', 'a', 'r', 'l', 'i', 'e']

In [92]:
k[4]

'l'

In [93]:
k.append('e')
k

['c', 'h', 'a', 'r', 'l', 'i', 'e', 'e']

In [97]:
k.insert(8,'y'.upper())
k

['c', 'h', 'a', 'r', 'l', 'i', 'e', 'e', 'Y', 'y', 'y']